<h1>Users</h1>
<!-- All users data will be displayed in below html table -->
<div class="container" *ngIf="!noData">
  <div class="outer-container">
    <!-- absolute positioned container -->
    <div class="inner-container tablewrap">
      <table>
        <thead>
          <tr>
            <th
              [ngClass]="header == 'email' ? 'col2' : 'col1'"
              class="white"
              *ngFor="let header of columns"
            >
              {{ header | beautifyCamelCase }}
            </th>
            <th class="col1 white">Submit</th>
          </tr>
        </thead>
      </table>
      <div class="table-body">
        <table>
          <tbody>
            <tr *ngFor="let user of pageData; let i = index">
              <td
                [ngClass]="column == 'email' ? 'col2' : 'col1'"
                *ngFor="let column of columns"
              >
                {{ user[column] }}
              </td>
              <td class="col1">
                <button class="submitbutton" (click)="onSubmit(user)">
                  Submit
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- pagination for users data table. We can navigate to each page using buttons provided -->
<app-pagination
  [data]="users"
  [page]="page"
  (pageDataToDisplay)="pageDataToDisplay($event)"
  [count]="users.length"
></app-pagination>

<!-- if no data found, below label will be displayed -->
<h1 *ngIf="noData">{{ noData }}</h1>
